<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhamster.dolldrobe.dao.CommodityMapper" >
  <resultMap id="BaseResultMap" type="com.fhamster.dolldrobe.model.Commodity" >
    <constructor >
      <idArg column="C_Num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="S_Num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_EndTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="C_MinMoney" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fhamster.dolldrobe.model.Commodity" >
    <constructor >
      <idArg column="C_Num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="S_Num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_EndTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="C_MinMoney" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="C_Img" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    C_Num, S_Num, C_Name, C_EndTime, C_MinMoney
  </sql>
  <sql id="Blob_Column_List" >
    C_Img
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.fhamster.dolldrobe.model.CommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhamster.dolldrobe.model.CommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commodity
    where C_Num = #{cNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from commodity
    where C_Num = #{cNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhamster.dolldrobe.model.CommodityExample" >
    delete from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhamster.dolldrobe.model.Commodity" >
    insert into commodity (C_Num, S_Num, C_Name, 
      C_EndTime, C_MinMoney, C_Img
      )
    values (#{cNum,jdbcType=VARCHAR}, #{sNum,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, 
      #{cEndtime,jdbcType=TIMESTAMP}, #{cMinmoney,jdbcType=INTEGER}, #{cImg,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fhamster.dolldrobe.model.Commodity" >
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cNum != null" >
        C_Num,
      </if>
      <if test="sNum != null" >
        S_Num,
      </if>
      <if test="cName != null" >
        C_Name,
      </if>
      <if test="cEndtime != null" >
        C_EndTime,
      </if>
      <if test="cMinmoney != null" >
        C_MinMoney,
      </if>
      <if test="cImg != null" >
        C_Img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cNum != null" >
        #{cNum,jdbcType=VARCHAR},
      </if>
      <if test="sNum != null" >
        #{sNum,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cEndtime != null" >
        #{cEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cMinmoney != null" >
        #{cMinmoney,jdbcType=INTEGER},
      </if>
      <if test="cImg != null" >
        #{cImg,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhamster.dolldrobe.model.CommodityExample" resultType="java.lang.Integer" >
    select count(*) from commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update commodity
    <set >
      <if test="record.cNum != null" >
        C_Num = #{record.cNum,jdbcType=VARCHAR},
      </if>
      <if test="record.sNum != null" >
        S_Num = #{record.sNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null" >
        C_Name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cEndtime != null" >
        C_EndTime = #{record.cEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cMinmoney != null" >
        C_MinMoney = #{record.cMinmoney,jdbcType=INTEGER},
      </if>
      <if test="record.cImg != null" >
        C_Img = #{record.cImg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update commodity
    set C_Num = #{record.cNum,jdbcType=VARCHAR},
      S_Num = #{record.sNum,jdbcType=VARCHAR},
      C_Name = #{record.cName,jdbcType=VARCHAR},
      C_EndTime = #{record.cEndtime,jdbcType=TIMESTAMP},
      C_MinMoney = #{record.cMinmoney,jdbcType=INTEGER},
      C_Img = #{record.cImg,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update commodity
    set C_Num = #{record.cNum,jdbcType=VARCHAR},
      S_Num = #{record.sNum,jdbcType=VARCHAR},
      C_Name = #{record.cName,jdbcType=VARCHAR},
      C_EndTime = #{record.cEndtime,jdbcType=TIMESTAMP},
      C_MinMoney = #{record.cMinmoney,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhamster.dolldrobe.model.Commodity" >
    update commodity
    <set >
      <if test="sNum != null" >
        S_Num = #{sNum,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        C_Name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cEndtime != null" >
        C_EndTime = #{cEndtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cMinmoney != null" >
        C_MinMoney = #{cMinmoney,jdbcType=INTEGER},
      </if>
      <if test="cImg != null" >
        C_Img = #{cImg,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where C_Num = #{cNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fhamster.dolldrobe.model.Commodity" >
    update commodity
    set S_Num = #{sNum,jdbcType=VARCHAR},
      C_Name = #{cName,jdbcType=VARCHAR},
      C_EndTime = #{cEndtime,jdbcType=TIMESTAMP},
      C_MinMoney = #{cMinmoney,jdbcType=INTEGER},
      C_Img = #{cImg,jdbcType=LONGVARCHAR}
    where C_Num = #{cNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhamster.dolldrobe.model.Commodity" >
    update commodity
    set S_Num = #{sNum,jdbcType=VARCHAR},
      C_Name = #{cName,jdbcType=VARCHAR},
      C_EndTime = #{cEndtime,jdbcType=TIMESTAMP},
      C_MinMoney = #{cMinmoney,jdbcType=INTEGER}
    where C_Num = #{cNum,jdbcType=VARCHAR}
  </update>
</mapper>