<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhamster.dolldrobe.dao.FPageCommodityMapper" >
  <resultMap id="BaseResultMap" type="com.fhamster.dolldrobe.model.FPageCommodity" >
    <constructor >
      <idArg column="U_AccountNumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="C_Num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FG_Date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    U_AccountNumber, C_Num, FG_Date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhamster.dolldrobe.model.FPageCommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fpage_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fpage_commodity
    where U_AccountNumber = #{uAccountnumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fpage_commodity
    where U_AccountNumber = #{uAccountnumber,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhamster.dolldrobe.model.FPageCommodityExample" >
    delete from fpage_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhamster.dolldrobe.model.FPageCommodity" >
    insert into fpage_commodity (U_AccountNumber, C_Num, FG_Date
      )
    values (#{uAccountnumber,jdbcType=VARCHAR}, #{cNum,jdbcType=VARCHAR}, #{fgDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fhamster.dolldrobe.model.FPageCommodity" >
    insert into fpage_commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uAccountnumber != null" >
        U_AccountNumber,
      </if>
      <if test="cNum != null" >
        C_Num,
      </if>
      <if test="fgDate != null" >
        FG_Date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uAccountnumber != null" >
        #{uAccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="cNum != null" >
        #{cNum,jdbcType=VARCHAR},
      </if>
      <if test="fgDate != null" >
        #{fgDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhamster.dolldrobe.model.FPageCommodityExample" resultType="java.lang.Integer" >
    select count(*) from fpage_commodity
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fpage_commodity
    <set >
      <if test="record.uAccountnumber != null" >
        U_AccountNumber = #{record.uAccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.cNum != null" >
        C_Num = #{record.cNum,jdbcType=VARCHAR},
      </if>
      <if test="record.fgDate != null" >
        FG_Date = #{record.fgDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fpage_commodity
    set U_AccountNumber = #{record.uAccountnumber,jdbcType=VARCHAR},
      C_Num = #{record.cNum,jdbcType=VARCHAR},
      FG_Date = #{record.fgDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhamster.dolldrobe.model.FPageCommodity" >
    update fpage_commodity
    <set >
      <if test="cNum != null" >
        C_Num = #{cNum,jdbcType=VARCHAR},
      </if>
      <if test="fgDate != null" >
        FG_Date = #{fgDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where U_AccountNumber = #{uAccountnumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhamster.dolldrobe.model.FPageCommodity" >
    update fpage_commodity
    set C_Num = #{cNum,jdbcType=VARCHAR},
      FG_Date = #{fgDate,jdbcType=TIMESTAMP}
    where U_AccountNumber = #{uAccountnumber,jdbcType=VARCHAR}
  </update>
</mapper>