<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fhamster.dolldrobe.dao.ShippingAddressMapper" >
  <resultMap id="BaseResultMap" type="com.fhamster.dolldrobe.model.ShippingAddress" >
    <constructor >
      <idArg column="SA_Num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="AR_Num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="U_AccountNumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SA_Detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SA_Default" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SA_Email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SA_telPhone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SA_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SA_Name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SA_Num, AR_Num, U_AccountNumber, SA_Detail, SA_Default, SA_Email, SA_telPhone, SA_phone, 
    SA_Name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fhamster.dolldrobe.model.ShippingAddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shippingaddress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shippingaddress
    where SA_Num = #{saNum,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shippingaddress
    where SA_Num = #{saNum,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.fhamster.dolldrobe.model.ShippingAddressExample" >
    delete from shippingaddress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fhamster.dolldrobe.model.ShippingAddress" >
    insert into shippingaddress (SA_Num, AR_Num, U_AccountNumber, 
      SA_Detail, SA_Default, SA_Email, 
      SA_telPhone, SA_phone, SA_Name
      )
    values (#{saNum,jdbcType=VARCHAR}, #{arNum,jdbcType=VARCHAR}, #{uAccountnumber,jdbcType=VARCHAR}, 
      #{saDetail,jdbcType=VARCHAR}, #{saDefault,jdbcType=VARCHAR}, #{saEmail,jdbcType=VARCHAR}, 
      #{saTelphone,jdbcType=VARCHAR}, #{saPhone,jdbcType=VARCHAR}, #{saName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fhamster.dolldrobe.model.ShippingAddress" >
    insert into shippingaddress
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="saNum != null" >
        SA_Num,
      </if>
      <if test="arNum != null" >
        AR_Num,
      </if>
      <if test="uAccountnumber != null" >
        U_AccountNumber,
      </if>
      <if test="saDetail != null" >
        SA_Detail,
      </if>
      <if test="saDefault != null" >
        SA_Default,
      </if>
      <if test="saEmail != null" >
        SA_Email,
      </if>
      <if test="saTelphone != null" >
        SA_telPhone,
      </if>
      <if test="saPhone != null" >
        SA_phone,
      </if>
      <if test="saName != null" >
        SA_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="saNum != null" >
        #{saNum,jdbcType=VARCHAR},
      </if>
      <if test="arNum != null" >
        #{arNum,jdbcType=VARCHAR},
      </if>
      <if test="uAccountnumber != null" >
        #{uAccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="saDetail != null" >
        #{saDetail,jdbcType=VARCHAR},
      </if>
      <if test="saDefault != null" >
        #{saDefault,jdbcType=VARCHAR},
      </if>
      <if test="saEmail != null" >
        #{saEmail,jdbcType=VARCHAR},
      </if>
      <if test="saTelphone != null" >
        #{saTelphone,jdbcType=VARCHAR},
      </if>
      <if test="saPhone != null" >
        #{saPhone,jdbcType=VARCHAR},
      </if>
      <if test="saName != null" >
        #{saName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fhamster.dolldrobe.model.ShippingAddressExample" resultType="java.lang.Integer" >
    select count(*) from shippingaddress
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shippingaddress
    <set >
      <if test="record.saNum != null" >
        SA_Num = #{record.saNum,jdbcType=VARCHAR},
      </if>
      <if test="record.arNum != null" >
        AR_Num = #{record.arNum,jdbcType=VARCHAR},
      </if>
      <if test="record.uAccountnumber != null" >
        U_AccountNumber = #{record.uAccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.saDetail != null" >
        SA_Detail = #{record.saDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.saDefault != null" >
        SA_Default = #{record.saDefault,jdbcType=VARCHAR},
      </if>
      <if test="record.saEmail != null" >
        SA_Email = #{record.saEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.saTelphone != null" >
        SA_telPhone = #{record.saTelphone,jdbcType=VARCHAR},
      </if>
      <if test="record.saPhone != null" >
        SA_phone = #{record.saPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.saName != null" >
        SA_Name = #{record.saName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shippingaddress
    set SA_Num = #{record.saNum,jdbcType=VARCHAR},
      AR_Num = #{record.arNum,jdbcType=VARCHAR},
      U_AccountNumber = #{record.uAccountnumber,jdbcType=VARCHAR},
      SA_Detail = #{record.saDetail,jdbcType=VARCHAR},
      SA_Default = #{record.saDefault,jdbcType=VARCHAR},
      SA_Email = #{record.saEmail,jdbcType=VARCHAR},
      SA_telPhone = #{record.saTelphone,jdbcType=VARCHAR},
      SA_phone = #{record.saPhone,jdbcType=VARCHAR},
      SA_Name = #{record.saName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fhamster.dolldrobe.model.ShippingAddress" >
    update shippingaddress
    <set >
      <if test="arNum != null" >
        AR_Num = #{arNum,jdbcType=VARCHAR},
      </if>
      <if test="uAccountnumber != null" >
        U_AccountNumber = #{uAccountnumber,jdbcType=VARCHAR},
      </if>
      <if test="saDetail != null" >
        SA_Detail = #{saDetail,jdbcType=VARCHAR},
      </if>
      <if test="saDefault != null" >
        SA_Default = #{saDefault,jdbcType=VARCHAR},
      </if>
      <if test="saEmail != null" >
        SA_Email = #{saEmail,jdbcType=VARCHAR},
      </if>
      <if test="saTelphone != null" >
        SA_telPhone = #{saTelphone,jdbcType=VARCHAR},
      </if>
      <if test="saPhone != null" >
        SA_phone = #{saPhone,jdbcType=VARCHAR},
      </if>
      <if test="saName != null" >
        SA_Name = #{saName,jdbcType=VARCHAR},
      </if>
    </set>
    where SA_Num = #{saNum,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fhamster.dolldrobe.model.ShippingAddress" >
    update shippingaddress
    set AR_Num = #{arNum,jdbcType=VARCHAR},
      U_AccountNumber = #{uAccountnumber,jdbcType=VARCHAR},
      SA_Detail = #{saDetail,jdbcType=VARCHAR},
      SA_Default = #{saDefault,jdbcType=VARCHAR},
      SA_Email = #{saEmail,jdbcType=VARCHAR},
      SA_telPhone = #{saTelphone,jdbcType=VARCHAR},
      SA_phone = #{saPhone,jdbcType=VARCHAR},
      SA_Name = #{saName,jdbcType=VARCHAR}
    where SA_Num = #{saNum,jdbcType=VARCHAR}
  </update>
</mapper>